/*======================================
LAYOUT GENERAL
======================================*/

*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:'Montserrat',sans-serif;

background:var(--gray-100);

color:var(--text);

overflow-x:hidden;

}

.container{

width:min(92%,1400px);

margin:auto;

}

section{

padding:90px 0;

}

h1{

font-size:clamp(2.6rem,5vw,4.5rem);

font-weight:800;

}

h2{

font-size:clamp(2rem,4vw,3rem);

font-weight:700;

margin-bottom:20px;

}

h3{

font-size:1.2rem;

}

p{

line-height:1.8;

color:var(--gray-500);

}
