/* ===========================================
   SEPRECA DESIGN SYSTEM
   =========================================== */

:root{

    /* Colores Corporativos */

    --primary:#0086B8;
    --primary-dark:#006B93;

    --secondary:#9CC31C;
    --secondary-dark:#557A19;

    --accent:#64A70B;

    --success:#28C76F;
    --warning:#FF9F43;
    --danger:#EA5455;

    --white:#FFFFFF;

    --gray-100:#F8FAFC;
    --gray-200:#EEF2F7;
    --gray-300:#E4EAF1;
    --gray-400:#CBD5E1;
    --gray-500:#64748B;
    --gray-700:#334155;
    --gray-900:#0F172A;

    --text:var(--gray-700);

    /* Sombras */

    --shadow-sm:0 8px 18px rgba(15,23,42,.06);

    --shadow-md:0 18px 35px rgba(15,23,42,.10);

    --shadow-lg:0 30px 70px rgba(15,23,42,.15);

    /* Bordes */

    --radius-sm:10px;
    --radius-md:18px;
    --radius-lg:28px;

    /* Transiciones */

    --transition:.35s ease;

    /* Tamaños */

    --container:1400px;

}
