:root{

--azul:#0084B8;

--verde:#97C11F;

--verdeOscuro:#3B6F2A;

--gris:#F3F6F8;

--texto:#253746;

--blanco:#FFFFFF;

--sombra:0 15px 40px rgba(0,0,0,.12);

}

*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:'Montserrat',sans-serif;

background:var(--gris);

color:var(--texto);

}

header{

background:var(--blanco);

padding:30px;

box-shadow:var(--sombra);

}

header h1{

color:var(--azul);

font-size:42px;

font-weight:800;

}

header p{

margin-top:8px;

font-size:20px;

}

#dashboard{

padding:60px;

}

#cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

margin-top:30px;

}

.card{

background:white;

padding:40px;

border-radius:20px;

box-shadow:var(--sombra);

text-align:center;

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card h3{

font-size:48px;

color:var(--azul);

}

.card span{

display:block;

margin-top:15px;

font-weight:600;

}
